.main_signup_screen {
  .display(absolute);
  .topLeft(0, 0);
  .bottomRight(0, 0);
  color: @textColor;

  .main_singup_form {
    position: absolute;
    .topLeft(0, 0);
    .bottomRight(@footer-height + 20, 0); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-height: @vertical_breakpoint) {
    }

    @media only screen and (max-height: @vertical_breakpoint + 1) {
    }

    .signup_market_info {
      .display(relative);
      text-align: center;

      h1 {
        font-size: 44px;
        letter-spacing: .7px;
      }

      aside.launching_soon_label {
        padding: 3px 20px;
        border: 1px solid @green;
        .border-radius(50px);
        display: inline-block;
        text-transform: uppercase;
        font-family: @font-gotham-medium;
        color: @green;
        letter-spacing: 1.3px;
        font-size: 10px;
        line-height: 17px;
        margin: 0 0 15px 0;
      }
    }

    p.signup_description {
      .display(relative);
      font-size: 16px;
      font-family: @font-opensans-light;
      letter-spacing: .5px;
      color: @dark-blue;
      opacity: .5;
      margin: 5px 0 0 0;
    }

    a.signup_landlord_link {
      .display(relative);
      .transition(all 0.2s ease-out);
      font-size: 13px;
      margin: 0 0 28px 0;
      line-height: 18px;

      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid darken(@light-blue, 20%);
      }

      &:active {
        border-bottom: 1px solid lighten(@light-blue, 20%);
      }
    }

    button.signup_start {
      .display(relative);
      width: 100%;
      margin: 25px 0 0 0;
      height: 50px;
      font-size: 15px;
      letter-spacing: 1px;
    }

    form {
      width: 430px;
    }
  }
}