.pioneer_complete_upload_screen {
  .display(relative);
  margin: 120px 0 0 0;

  .pioneer_complete_top_sections {
    text-align: center;

    h4.complete_title {
      font-size: 14px;
      color: @green;
      letter-spacing: 1.5px;
    }

    h1.upload_email {
      .display(relative);
      max-width: 700px;
      margin: 20px auto;
      font-size: 30px;
      line-height: 38px;

      a {
        font-family: @font-gotham-medium;
      }
    }

    .countdown {
      width: 180px;
      display: inline-block;
      border: 1px solid @green;
      margin: 15px 0 35px 0;
      .border-radius(4px);
      padding: 10px 40px 10px 40px;
      font-family: @font-gotham-thin;
      font-size: 40px;
      color: @green;
    }

    .pioneer_description {
      h5 {
        font-size: 14px;
      }

      p {
        opacity: .7
      }
    }

    .terms_of_use_note {
      .display(relative);
      top: -55px;
    }
  }

  .faq_section_container  {
    .display(relative);
    background: #fff;

    h1.faq_title {
      text-align: center;
    }

    .faq_content {
      .display(relative);
      width: 800px;
      margin: 0 auto;

      h1 {}

      ul.faq_content {
        li {
          .icon_toggle {}
          .faq_title {}
          .faq_answer {}
        }
      }
    }
  }

  .faq_footer {
    .display(relative);
    text-align: center;
    padding: 50px;

    h3 {
      font-size: 20px;
    }

    p {
      a {}
    }
  }

}