.video_screen {
  .display(absolute);
  .topLeft(0, 0);
  .bottomRight(0, 0);
  .animation(fadeIn .4s linear forwards);
  background: @dark-blue;
  overflow: hidden;

  .pioneer_video {
    .display(absolute);
    .topLeft(0, 0);
    .bottomRight(0, 0);
    z-index: @layer1;
  }

  .video_cover {
    .display(absolute);
    .topLeft(0, 0);
    .bottomRight(0, 0);
    background: @dark-blue;
    opacity: .9;
    z-index: @layer2;
  }

  .video_content_container {
    .display(absolute);
    .topLeft(0, 0);
    .bottomRight(0, 0);
    .flex-display();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    z-index: @layer3;
    color: #fff;

    .video_content {
      text-align: center;

      i.play_video {
        .display(relative);
        .size(66px, 66px);
        .animation(fadeIn .4s .2s linear forwards);
        .transition(all 0.2s ease-out);
        .user-select(none);
        margin: 0 auto;
        opacity: 0;
        cursor: pointer;

        svg {
          .size(66px, 66px);

          circle {
            stroke: @light-blue;
            fill: rgba(0,0,0,0);
            .transition(all 0.2s ease-out);
          }
        }

        &:hover {
          .scale(1.2);

          svg {
            circle {
              fill: @light-blue;
            }
          }
        }

        &:active {
          .scale(.7);
        }
      }

      h4 {
        .display(relative);
        .animation(fadeIn .4s .3s linear forwards);
        margin: 34px 0 0 0;
        color: #fff;
        font-size: 13px;
        letter-spacing: 1.8px;
        opacity: 0;

        span {
          opacity: .4;
        }
      }

      h1 {
        .display(relative);
        .animation(fadeIn .4s .4s linear forwards);
        margin: 10px 0 35px 0;
        color: #fff;
        line-height: 64px;
        font-size: 56px;
        opacity: 0;
      }

      .button {
        .animation(fadeIn .4s .5s linear forwards);
        opacity: 0;
        width: 250px;
        margin: 0 auto;
      }
    }
  }
}