.user_info_screen {
  .display(absolute);
  .topLeft(0, 0);
  .bottomRight(0, 0);  
  .animation(fadeIn .4s linear forwards);
  min-height: 520px;
  color: @textColor;
  opacity: 0;
  z-index: @layer2;

  @media @mobile {
    position: relative;
    min-height: 450px;
  }

  .user_info_form {
    .topLeft(0, 0);
    .bottomRight(@footer-height + 30, 0); 
    .flex-display();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    position: absolute;
    min-height: 400px;

    h1 {
      .display(relative);
      font-size: 30px;
      letter-spacing: .7px;
      margin: 0 0 10px 0;

       @media @mobile {
        font-size: 18px;
        margin: 10px 0 20px 0;
      }
    }

    .promocode_container {
      a.promocode_show {
        .display(relative);
        text-align: center;
        padding: 12px 0 5px 0;
        cursor: pointer;

        @media @mobile {
          padding: 5px 0 20px 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .input_group {
        display: none
      }

      &.promo_visible {
        a {
          display: none
        }
        
        .input_group {
          display: block
        }
      }
    }

    .button {   
      @media @mobile {
        margin: 0 0 400px 0;
      }
    }
  }

  &.loading {
    .user_info_form {
      opacity: .6;

      .throbber {
        display: block;
        opacity: 1
      }
    }
  }

  form {
    width: 430px;

    @media @mobile {
      width: 300px;
    }
  }
}
