footer.application_footer {
  .display(absolute);
  .bottomLeft(0, 0);
  right: 0;
  z-index: @layer2;
  height: @footer-height;
  background: #fff;
  width: 100%;

  ul.compstak_description {
    .size(60%, 100%);
    max-width: 900px;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      .display(relative);
      display:flex;
      text-align: center;
      align-items: center;
      flex-direction: column;

      i {
        svg {
          .size(35px, 35px);
          margin: auto;
        }
      }

      h2 {
        font-size: 20px;
        font-family: @font-gotham-light;
        margin: 7px 0 7px 0;
      }

      p {
        max-width: 200px;
        margin: auto;
        opacity: .8;
      }
    }

    @media @screen1024 {
      .size(80%, 100%);
    }

    @media @screen1280 {
      .size(70%, 100%);
    }
    
  }

  @media @screen1680 {
    height: 250px;
  }

  @media @screen1920 {
    height: 260px;
  }

  @media @screen2560 {
    height: 270px;
  }
}