footer.application_footer {
  .display(relative);
  z-index: @layer2;
  height: @footer-height;
  background: #fff;
  width: 100%;

  @media only screen and (min-height: @vertical_breakpoint) {
    .display(absolute);
    .bottomLeft(0, 0);
    right: 0; 
  }

  ul.compstak_description {
    .size(55%, 100%);
    .flex-display();
    .flex-direction(row);
    .justify-content(space-between);
    .align-items(center);
    max-width: 900px;
    margin: auto;

    li {
      .display(relative);
      .flex-display();
      .align-items(center);
      .flex-direction(column);
      text-align: center;

      i {
        svg {
          .size(36px, 36px);
          margin: auto;
        }
      }

      h2 {
        font-size: 20px;
        font-family: @font-gotham-light;
        margin: 8px 0 8px 0;
      }

      p {
        max-width: 180px;
        margin: auto;
        opacity: .4;
        font-size: 13px;
        line-height: 17px;
        font-family: @font-gotham-light;
      }
    }

    // icons container responsiveness

    @media @screen1024 {
      .size(70%, 100%);
    }

    @media @screen1280 {
      .size(70%, 100%);
    }

    @media @screen1366 {
      .size(58%, 100%);
    }

    @media @screen1440 {
      .size(55%, 100%);
    }
    @media @screen1920 {
      .size(100%, 100%);
    }

    @media @screen2560 {
      .size(100%, 100%);
    }
  }

  // icons and typography responsiveness

  @media @screen1024 {
    height: 150px;

    ul.compstak_description {
      li {
        i {
          svg {
            .size(25px, 25px);
          }
        }

        h2 {
          font-size: 16px;
          margin: 5px 0 5px 0;
        }

        p {
          font-size: 11px;
        }
      }
    }
  }

  @media @screen1280 {
    height: 170px;

    ul.compstak_description {
      li {
        i {
          svg {
            .size(30px, 30px);
          }
        }

        h2 {
          font-size: 18px;
          margin: 5px 0 5px 0;
        }
      }
    }
  }

  @media @screen1366 {
    height: 170px;

    ul.compstak_description {
      li {
        i {
          svg {
            .size(30px, 30px);
          }
        }

        h2 {
          font-size: 18px;
          margin: 5px 0 5px 0;
        }
      }
    }
  }

  @media @screen1440 {
    height: 185px;
  }

  @media @screen1680 {
    height: 210px;

    ul.compstak_description {
      li {
        i {
          svg {
            .size(40px, 40px);
          }
        }

        h2 {
          font-size: 22px;
          margin: 10px 0 10px 0;
        }

        p {
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }

  @media @screen1920 {
    height: 230px;

    ul.compstak_description {
      li {
        i {
          svg {
            .size(44px, 44px);
          }
        }

        h2 {
          font-size: 26px;
          margin: 12px 0 12px 0;
        }

        p {
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }

  @media @screen2560 {
    height: 250px;

    ul.compstak_description {
      li {
        i {
          svg {
            .size(44px, 44px);
          }
        }

        h2 {
          font-size: 26px;
          margin: 12px 0 12px 0;
        }

        p {
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }
}