@logoColor: #545a6a;

header.application_header {
  .box-sizing(border-box);
  height: 100px;
  padding: 0 35px;
  .flex-display();
  position: relative;
  .topLeft(0, 0);
  right: 0; 
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);
  z-index: @layer2;

  @media only screen and (min-height: @vertical_breakpoint) {
    position: absolute;
  }

  .cs_logo {
    .display(relative);
    width: 135px;

    path {
      fill: @logoColor;
    }
  }

  .have_account_button {
    .display(relative);
    background: #fff;
    color: @dark-blue;
    text-transform: none;
    letter-spacing: .5px;
    width: 160px;
    text-align: center;

    &:hover {
      background: @light-blue;
      color: #fff
    }

    &:active {
      background: lighten(@light-blue, 10%);
      color: #fff;
    }
  }
}