.scale-enter {
  .scale(.7);
  .transition(all 0.2s ease-in-out);
  opacity: 0;

  &.scale-enter-active {
    .scale(1);
    opacity: 1;
  }
}

.scale-leave {
  .transition(all 0.2s ease-in-out);
  .scale(1);
  opacity: 1;

  &.scale-leave-active {
    .scale(1.55);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

// pulsating Button
@keyframes buttonPulsate {
  0% {
    .scale(1);
  }
  50% {
    .scale(1.05);
  }
  100% {
    .scale(1);
  }
}

@-webkit-keyframes buttonPulsate {
  0% {
    .scale(1);
  }
  50% {
    .scale(1.05);
  }
  100% {
    .scale(1);
  }
}

@-moz-keyframes buttonPulsate {
  0% {
    .scale(1);
  }
  50% {
    .scale(1.05);
  }
  100% {
    .scale(1);
  }
}

@-o-keyframes buttonPulsate {
  0% {
    .scale(1);
  }
  50% {
    .scale(1.05);
  }
  100% {
    .scale(1);
  }
}
